<div class="browser-wrapper">
<div class="browser-frame">
  <div class="browser-header">
    <div class="browser-controls">
      <span class="dot red"></span>
      <span class="dot yellow"></span>
      <span class="dot green"></span>
    </div>
    <input type="text" value="<%= @question.url %>" class="url-bar" readonly />
  </div>
  <div class="browser-content">
    <%= raw @question.website_html %>
  </div>
</div>
</div>

<div class="quiz-form">
  <%= form_with url: answer_quiz_path(@quiz, @category, @index), method: :post, data: { turbo: false } do %>
    <div>
      <%= radio_button_tag :answer, 'true' %> True
    </div>
    <div>
      <%= radio_button_tag :answer, 'false' %> False
    </div>
    <div>
      <%= submit_tag "Submit", class: "btn-submit" %>
    </div>
  <% end %>
</div>